{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Admin Dashboard</h2>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5>Total Questions</h5>
                        <h3>{{ subjects|length }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5>Add New</h5>
                        <a href="{{ url_for('add_question') }}" class="btn btn-light">Add Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}